
<footer class="bg-dark text-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>&copy; 2025 Your Company. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-end">
                <div class="social-icons-footer">
                    <a href="https://github.com/hishamized" class="btn btn-outline-light btn-social" target="_blank">
                      <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/mohammad-hisham-10287b26b/" class="btn btn-outline-light btn-social" target="_blank">
                      <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://www.instagram.com/hishamized/?next=%2F" class="btn btn-outline-light btn-social" target="_blank">
                      <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="https://www.facebook.com/Mohammadhishammir/" class="btn btn-outline-light btn-social" target="_blank">
                      <i class="fab fa-facebook"></i> Facebook
                    </a>
                 </div>
            </div>
        </div>
    </div>
</footer>
