<div class="container p-5">
    <div class="row rounded p-5" style="background-color: #f8f9fa;">
      <div class="col-md-6 d-flex align-items-center">
        <!-- Heading and Text (centered) -->
        <div class="bg-info text-white p-3 rounded">
            <h1 class="mb-4 text-dark display-2 fw-bolder">Mohammad Hisham</h1>
            <p class="lead text-dark fw-bold">Web Developer</p>
          </div>
          
      </div>
      <div class="col-md-6">
        <!-- Photo within a circle -->
        <div id="heroImgContainer" class="rounded-circle overflow-hidden shadow-lg">
          <img src="assets/images/my_photo1.jpg" alt="Your Photo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  