<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav
      id="sidebar_container"
      class="position-absolute col-md-3 col-lg-2 d-md-block bg-light sidebar z-1"
    >
      <div class="position-sticky">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="nav-link" href="/pages/projects.html" id="page1Link">Recent Projects</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/pages/about.html" id="page2Link">About me</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/pages/contact.html" id="page3Link">Contact Me</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/pages/skills.html" id="page4Link">Skills</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
